<div>
<%= form_with(model: @feed, local: true, url: choose_index_or_edit ) do |form| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= @feed.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>    
      </ul>
    <div>
  <% end %>
  
  <div class="field">
    <%= form.file_field :image, class: "file_field" %>
    <%= form.text_area :text %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>  
</div>