<h3>以下の内容で投稿します。よろしいですか？</h3>

<%= form_with(model: @feed, local: true) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :text %>
  <p>投稿画像:<%= image_tag (@feed.image.url) %></p>
  <p>コメント:<%= @feed.text %></p>
  <%= form.submit "投稿する" %>
<% end %>

<%= form_with(model: @feed, local: true, method: :get) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :text %>
  <%= form.submit "見直す", name: 'back' %>
<% end %>