<!DOCTYPE html>
<html>
  <head>
    <title>Iclone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <header>
      <nav class="header-nav">
        <h1><%= link_to "iclone", root_path %></h1>
        <ul class="header-ul">
          <% if logged_in? %>
            <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
            <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
          <% else %>
            <li><%= link_to "登録", new_user_path %></li>
            <li><%= link_to "ログイン", new_session_path %></li>
          <% end %>
        </ul>
      </nav>      
    </header>
    
    <%= yield %>
    
  </body>
</html>
